

<launch>
	<arg name="im_topic" default="/spoof_car/images" />
	<arg name="data_dir" default="$(find mushr_visual_servo)/output_images" />
	<arg name="box_topic" default="/spoof_car/box" />

	<node pkg="mushr_visual_servo" type="image_detector.py" name="image_detector" output="screen">
		<param name="im_topic" value="$(arg im_topic)" />
		<param name="data_dir" value="$(arg data_dir)" />
		<param name="box_topic" value="$(arg box_topic)" />
	</node>

</launch>
